<div class="container">
	<div class="card">
		<div class="card-header">
			<h3> REGISTRO DE COMPUTADORAS </h3>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="idCompu"> ID: </label>
					<input type="number" name="idCompu" class="form-control" [(ngModel)]="compu.idCompu">
				</div>

				<div class="form-group">
					<label for="marca"> MARCA: </label>
					<input type="text" name="marca" class="form-control" [(ngModel)]="compu.marca">
				</div>

				<div class="form-group">
					<label for="modelo"> MODELO: </label>
					<input type="text" name="modelo" class="form-control" [(ngModel)]="compu.modelo">
				</div>

				<div class="form-group">
					<label for="ram"> RAM </label>
					<input type="number" name="ram" class="form-control" [(ngModel)]="compu.ram">
				</div>

				<div class="form-group">
					<label for="procesador"> PROCESADOR: </label>
					<input type="text" name="procesador" class="form-control" [(ngModel)]="compu.procesador">
				</div>

				<div class="form-group">
					<label for="precio"> PRECIO: </label>
					<input type="number" name="precio" class="form-control" [(ngModel)]="compu.precio">
				</div>

				<br>
				<button class="btn btn-outline-dark" (click)="guardar()"> GUARDAR </button>
				<button class="btn btn-outline-dark" style="margin-left: 15px;" (click)="cancelar()"> CANCELAR </button>
				
			</form>
		</div>
	</div>
</div>