<!-- * CODIGO PRINCIPAL DEL PROYECTO -->

<main class="main">
	<div class="content">
		<div class="left-side">
			<h2> CONTROL DE COMPUTADORA </h2>
		</div>
		<div class="divider" role="separator" aria-label="divider"></div>
		<div class="right-side">
			<div class="container">
				<button class="btn btn-outline-primary" (click)="listar()"> LISTAR </button>
				<button class="btn btn-outline-dark" style="margin-left: 10px;" (click)="nuevo()"> NUEVO </button>
			</div>
		</div>
	</div>
</main>

<!-- INDICA A ANGULAR QUE SE VA A RENDERIZAR A PARTIR DE ACA: ROUTER-->
<router-outlet/>